/* body {
  margin: 0%;
} */

header {
  position: sticky;
}

li {
  max-width: fit-content;
}

a:hover {
  cursor: pointer;
}

.hero {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.3)
    ),
    url(../images/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

/* landing Page */
.logo-image {
  border-radius: 100%;
  height: 2rem;
  width: 2rem;
  margin: 1rem;
}

/* About Me Page to do remove?*/

.tech-icons-container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.tech-icon-container {
  max-width: fit-content;
}

.tech-logo-image {
  border-radius: 100%;
  width: 4rem;
  margin: 1rem;
}
/* .tech-icon-container:hover {
  opacity: 1;
} */

/* Portfolio Section to do screenshot sizing */

.portfolio-image-container {
  border: 1px solid black;
  text-align: center;
}

.control-image-size {
  border: 1px solid red;
}

.portfolio-img {
  height: 9rem;
}
