header {
  position: sticky;
}

li {
  max-width: fit-content;
}
a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

.hero {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.3)
    ),
    url(../images/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.background-colour {
  background-color: #caa8b955;
}

/* landing Page */
.logo-image {
  border-radius: 100%;
  height: 2rem;
  width: 2rem;
  margin: 1rem;
}

/* About Me Section*/

.tech-icons-container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tech-icon-container {
  max-width: fit-content;
}

.tech-logo-image {
  border-radius: 100%;
  width: 4rem;
  margin: 1rem;
}

/* Portfolio Section */
.portfolio-card {
  max-width: 60%;
  background-color: #c9adcf9d;
}

.card-header {
  background-color: #c9adcf;
}
