.hero {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.3)
    ),
    url(../images/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.logo-image {
  border-radius: 100%;
  height: 2rem;
  width: 2rem;
  margin: 1rem;
}

.about-image {
  border-radius: 60%;
  width: 8rem;
}
